DDS_ENABLE {DDS_ENABLE}
DDS_UDP_PORT {DDS_PORT}

DDS_IP0 {DDS_IP0}
DDS_IP1 {DDS_IP1}
DDS_IP2 {DDS_IP2}
DDS_IP3 {DDS_IP3}

DDS_DOMAIN_ID {DDS_DOMAIN_ID}
DDS_TIMEOUT_MS {DDS_TIMEOUT_MS}
DDS_MAX_RETRY {DDS_MAX_RETRY}
DDS_USE_NS {DDS_USE_NS}